.form-group
    label.form-control-label.font-13(v-once, v-if="hasSlot", v-bind:for="name")
        slot
    .input-group.input-group-sm.font-13
        .input-group-prepend
            span.input-group-text.px-0.pt-0.pb-1.d-flex.justify-content-center.align-items-center.fa.fa-calendar.bg-primary.b-0.text-white(
                style="width: 2.25rem;")
        input.form-control.input-sm.border-left-0(
            type="text",
            ref="dateInput",
            v-bind:name="name",
            v-bind:id="elementId",
            v-bind:disabled="isPending",
            v-bind:placeholder="placeholder",
            v-on:focus="rememberPrevious()")
        ax-hidden-input(v-bind:path="startPath", v-bind:value="startValue", ref="startInput")
        ax-hidden-input(v-bind:path="endPath", v-bind:value="endValue", ref="endInput")
    small.form-text.invalid-feedback(v-if="hasMessage") {{ elementMessage }}
